.board{
    margin-top: 50px;
}
.rows{
    display: flex;
    align-items: center;
    justify-content: center ;
}
.button{
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    
}
.btn{
    position: relative;
    height: 100%;
    width:100%;
    font-size: 2em;
}
.reset{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 22px;
}
/*=========Using Media query===============  */
@media(max-width:500px) {
    .reset{
        background-color: red;
        margin-left: 100px;
    }
}
